* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
overflow-x: hidden;
}
#navbar {
    font-size: 20px;
    background: rgb(0, 0, 0);
    padding: .5rem 7rem;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: rgba(201, 195, 195, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
z-index: 3;   
}

.navbar .navbar-brand {
    font-size: 25px;
    font-family: 'Orbitron', sans-serif;
    color: #FF0801 !important;
    text-decoration: none;
   font-weight: 1000;

}
.nav-item{
    padding-left: 1.7rem;
}
/* Add padding and underline effect to nav links */
.navbar-nav .nav-link {
    position: relative;
    color: #FF0801;
    text-decoration: none;
    padding: 0.5rem 1rem; /* Add padding here */
}

.navbar-nav .nav-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #FF0801;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out;
 
}

.navbar-nav .nav-link:hover::before{
    visibility: visible;
    transform: scaleX(1);

}
.navbar-nav .nav-link:hover{
    color: rgb(238, 238, 238);
}

.indian{
    margin-top: 40px;
    font-size: 40px;
    font-weight: 900;
}
section{
    scroll-snap-align: start;
    height: 100vh;
    width: 100%;
}

.diet1-img{
    height: 82%;
    width: 100%;
    object-fit: cover;
}
.intro-1,.intro-2,.intro-3{
    margin: 25px;
    font-size: 30px;
    font-family: 'Kaushan Script', cursive;
    font-weight: 600;
}
.intro-1{
    color: rgb(255, 94, 0);
}  .intro-2{color: #d4ffdf;} .intro-3{color: green;}
.intro-4{
    margin: 55px;
    font-size: 45px;
    font-family: 'Kaushan Script', cursive;
    font-weight: 600;
color: #FF0801;
}
.heading-1{
    font-size: 25px;
    font-weight: 600;
    font-family: 'Kaushan Script', cursive;
    margin-left: 100px;
    padding: 10px;
}
.htag{
    margin-left: 40px;
position: relative;
bottom:15px;
font-size: 25px;
font-weight: 600;
}
main{
    width: 100%;
    height: 100vh;
    scroll-snap-type:y mandatory ;
}

.container-food,.container-fluid{
    display:flex;
    justify-content: center;
    align-items: center;
    background: rgb(0,0,0);
}

.our-product{
    margin-top: 25px;
   font-size: 40px;
   font-weight: 600;
   color:#cbecd3
}

.card-titl{
    font-size: 25px;
  font-weight: 700;
  color: black;
}


span{
    font-size: 20px;
}

.card-f{
    background: #FF0801;
}
.container-food{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;   flex-wrap: wrap;
    gap: 1rem;
}
.card-f{
    display: grid;
    grid-template-columns: repeat(autofit,minmax(220px,auto));
    justify-content: center;
    align-content: center;
    background-color: #FF0801;
    border-radius: 10px;
    box-shadow: rgba(148, 145, 145, 0.35) 0px 5px 15px;
    padding: 10px;
    position: relative;
}
.img-order{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    border: 10px solid black;
transition: 0.3s;
object-fit: cover;
}
.pic{
 overflow: hidden; 
 border-radius: 100px;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.pic:hover img{
    transform: scale(1.1);
}
.card-price{
font-size: 23px;
    color:#d4ffdf;
 font-weight: 600;      
}
.cart-btn{
    padding-left: 30px;
}
.card-f .add-cart{
    font-size: 28px;
    color: white;
}
.cart-div i{
    font-size: 30px;
    color: #FF0801;
}
.cart-div i{position: fixed;
top: 300px;
background:#F7C904;
border-radius: 5px;
height: 35px;
width: 35px;
padding: 15px auto;
left:95%;
box-shadow: 0px 5px 10px 0px rgba(199, 41, 41, 0.925);
}
.cart{
    position: fixed;
    background: #FF0801;
    height: 100vh;
    width: 312px;
    z-index: 1;
    right:0;
    transition: 0.5s;
    right:-100%;
    transition-timing-function: ease-in-out;
visibility: visible;
}
.title-close{
    display: flex;
justify-content: space-around;
    margin: 10px;
}
.cart-list{
    color: black;
    font-size: 25px;
    font-weight: 600;
}

.cart-active{
      right: 0;
    transition:0.5s;
}
.close {
    position: absolute;
    right: 32px;
    top: 15px;
    width: 30px;
    height: 30px;
    opacity: 0.5;

  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
  .cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    padding: 10px;  
  align-items: center;
position: relative;

box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;  
}
  .img-cart{
    height:70px;
    width:70px;
  }
.cart-titl{
    font-size: 20px;
    font-weight: 600;

}
.cart-amount{
    display: flex;
    justify-content: space-between;

}
.cart-price , .cart-rate{
    font-size:18px ;
    font-weight: 500;
}
.quantity{
    width: 40px;
    height: 20px;
   background-color: rgb(182, 104, 104);
   border-radius: 5px;
}
.gg-trash{
left: 20px;
position: absolute;
bottom: 25px;
}
span{
    position: relative;
    left: 100px;
}
.total-rs{
    font-size: 20px;
    font-weight: 500;
    padding-left: 10px;
}
.btn-order{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-left: 90px;
    margin-top: 10px;
    padding:5px 10px 5px 10px;
    color: rgb(233, 230, 230);
    background: #050505;
border-radius: 25px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
border: none;
}

.container-pop{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pop-up{
    position: fixed;
    left: 50%;
    top: 0%;
    transform: translate(-50%,-50%)scale(0.1);
    width: 400px;
    text-align: center;
 padding: 0px 30px 30px;
 background: #000000;
 visibility: hidden;
 transition: transform 0.4s, right 0.4s;
 box-shadow: rgba(167, 165, 165, 0.568) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
 border-radius: 10px;
}
.pop-main{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%)scale(1);
    transition: 0.3s;
}
.pop-up img{
    width: 100px;
    border-radius: 50%;
    margin-top: -50px;
}
.pop-close{
    font-size: 15px;
    width: 100%;
    padding: 3px 0 3px 0;
text-align: center;
margin-top: 5px;
border-radius: 10px;
outline: none;
border: none;
font-weight: 500;
color: rgb(0, 0, 0);
box-shadow: rgba(255, 0, 0, 0.25) 0px 54px 55px, rgba(248, 31, 31, 0.12) 0px -12px 30px, rgba(224, 99, 99, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.pop-cont{
font-size: 30px;
padding: 5px;
color: white;
}
.pop-para{
font-size: 15px;
padding: 5px 0 15px;
color: white;
}
.btn-click{
    font-size: 20px;
       margin: 45px;
       margin-top: 20px;
       padding: 5px 30px;
       box-sizing: border-box;
       border: none;
       background: rgb(246,10,5);
       font-weight: 700;
border-radius: 10px;
    }
   .names{
    width: 100%;
}
.enter-name{
    font-size: 25px;
margin-bottom: 15px;color: #ff0000;
font-weight: 600;
font-family: 'ADLaM Display', cursive;
}
input[type=text]{
    height: 40px;
    border-radius: 10px;
    font-size: 30px;
    background: #c00d0d;
    color: aliceblue;
}
   .div-form{
    position: fixed;
z-index:200;
left: 40%;
top: 25%;
padding: 20px 45px;
background-color:rgb(0, 0, 0);
height: 200px;
width: 300px;
transition: 0.4s;
transition-timing-function: ease-in-out;
border-radius: 20px;
}.welcome{padding: 0 20px; font-size: 30px; color:rgb(253,8,2); font-family: 'ADLaM Display', cursive;}
.doneSymbol{
    position: fixed;
    z-index: 111;
    background-color:rgb(0, 0, 0);
height: 200px;
width: 300px;
left: 40%;
top: 25%;
padding: 10px 10px 10px 50px;
font-size: 60px;
transition-timing-function: ease-in-out;
border-radius: 20px;
}
.response{
    padding: 0px 25px 0px 50px;
    font-size: 40px;
font-weight: 700;
color: rgb(253,8,2);
font-family: 'Philosopher', sans-serif;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-10px);
    }
  }
  .animated-icon {
    animation: bounce 1.7s infinite;
padding: 0px 0 17px 70px ;
    color:rgb(253,8,2);    font-size: 48px;
  }
  @import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');
